<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dualscreen.keepon">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:label="双屏常亮"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Xposed / LSPosed 模块声明 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="小米Mix Fold 2 双屏同时显示 - 展开时内屏外屏同时亮起" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

    </application>

</manifest>
